<!DOCTYPE html>
<html>

<head>
    <title>Liste čekanja</title>

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link href="css/stylestanje.css" rel="stylesheet" type="text/css"/>
</head>

<body class="bodyOne">
<h3> Pregled stanja po zahvatu: <%= imence[1] %> </h3>
   <div class="tablica-stanja">
   <div class="box">
   <div class="table-responsive">
   <table class="table" class="text-center" style="table-layout:fixed;word-wrap:break-word">

   <tr  class="info">
     <th>Ustanova</th>
     <th>Slobodni termin</th>
   </tr>

     <% for(var y=0;y<navivust.length;y++) {%>
     <tr class="active">
       <td> <%= navivust[y] %> </td>
       <td> <%= termin[y] %> <%=terminvr[y] %> </td>
     </tr>
     <% }%>
   </tr>

   </table>
   <tr class="warning"> <button type="button" class="btn btn-info btn-lg" onclick="exportTableToCSV('members.csv')"> Izvezi podatke (.CSV) </button> </tr>
</div>
</div>
</div>
</body>

<script src="js/functions_stanje.js"></script>
</html>
