.bodyOne{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

    text-align: center;
    position: relative;
}
.bodyOne:after {
    background-image:url("../dnaaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.18;
    z-index: -1;
    content: "";
}

.star {
   color: red;
}

.rating {
          overflow: hidden;
          display: inline-block;
      }
 .rating-input {
          position: absolute;
          left: 0;
          top: -100px;
      }
  .rating-star {
          display: block;
          float: right;
          width: 16px;
          height: 16px;
          background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
      }

  .rating-star:hover, .rating-star:focus,
  .rating-star:hover ~ .rating-star, .rating-star:focus ~ .rating-star {
          background-position: 0 0;
	  cursor: hand;
	  cursor: pointer;
      }

.fld_about:hover {
display: block;
}

#text {
  padding-top: 50px;
  color: black;
  opacity: 1 !important;
}

.h1One {
  font-family: 'Open Sans', sans-serif;
  color: #33a6cc;
  font-size: 34px;
  font-weight: bolder;
}

#main h4 {
  color: #33a6cc;
  font-size: 20px;
  font-weight: bold;
}

 figcaption::before {
   display:block;
  position: absolute;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  background-color: rgba(20, 50, 42, 0.5);
  content: '';
  z-index: -1;
}

figcaption {
  display: block;
  position: relative;
  width: 100%;
  height: 330px;
  margin: 0 auto;
  margin-top: 70px;
}

figcaption p {
  font-weight:600;
  color: white;
  font-size: 17px;
}

figcaption input, figcaption select {
  margin-bottom: 15px;
}

.icon {
  position: absolute;
  left: 700 !important;
}

nav {
  position: absolute;
  width: 100%;
}

nav:hover {
  background: rgba(0, 10, 10, 0.5);
}
nav ol {
  float: right;
  margin-right: 30px;
  list-style: none;
}
li {
  display: inline-block;
  margin: 5px;
  color: #ffffff;
}
li:hover {
  color: #ffffff;
}
li:active {
  color: #ff1a1a;
}


::-webkit-scrollbar {
 width: 12px;
 height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid #33a6cc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #33a6cc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #33a6cc;
}

.box {
  border: 5px solid #33a6cc;
  border-radius: 10px;
/*  font: 16px sans-serif; */
  height: 40%;
  width: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  margin-bottom: 15px;
  z-index: 1;
  opacity: 0.7;
  background-color: #f8f8ff;
}
.box:after {
  z-index: -15;
}

.pTwo {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 200px;
}
.bodytwo{
  background-color: #333333;
  z-index: -9;
  margin: 0;
}
table {
  position: absolute;
  display: inline-block;
  top: 50px;
  width: 200px;
  text-align: right;
}
th {
    height: 5px;
    padding-left: 15px;
}

.adresa {
  display: none;
}
.ocjena {
  display: none;
}

.bojaikone{
	color: white;
}

.bs-example{
  font-family: sans-serif;
  position: relative;
  margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 14px;
  height: 30px;
  line-height: 18px;
  outline: medium none;
  padding: 3px 20px;
  width: 296px;
}
.typeahead {
  background-color: #FFFFFF;
  color: #0097CF;
  font-weight: bold;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: white; /*#999999; */
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  padding: 8px 0;
  width: 300px;
  max-height: 250px;
  overflow-y: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 18px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #e6e6e6;
}
.tt-suggestion p {
  margin: 5px 0;
  color: #0097CF;
  text-align: left;
  font-size: 14px;
}
